!!!
%html
  %head
    %title BestLocator
    = stylesheet_link_tag    "application", media: "all"
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAua_bhuj4kOzFFX1UtgpqpvrO-ntx9czA"}
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width", "user-scalable" => "no"}

  %body
    = render "layouts/nav"
    .container-fluid
      - if flash[:notice]
        .alert.alert-success.alert-dismissable
          %button{:type => "button", :class =>"close", :"data-dismiss" =>"alert", :"aria-hidden" => "true"}
            &times;
          = flash[:notice]
      - if flash[:error]
        .alert.alert-danger.alert-dismissable
          %button{:type => "button", :class =>"close", :"data-dismiss" =>"alert", :"aria-hidden" => "true"}
            &times;
          = flash[:error]
      = yield